<div class="signin-container" >

  <div class="signin-content mat-elevation-z12">

      <div fxLayoutAlign="center center">
          <img src="assets/logo.svg" style="width: 84px; padding: 0px 0 10px;">
     </div>


    <form [formGroup]="userForm" (ngSubmit)="login()">
      <mat-form-field class="display-block">
        <input type="email" placeholder="email" formControlName="email" required matInput>
        <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
      </mat-form-field>

      <mat-form-field class="display-block">
        <input type="password" placeholder="password" formControlName="password" required matInput>
        <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
      </mat-form-field>

      <button class=" m-b-10" mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Entrar</button>

      <div class="m-b-15" fxLayout="row" fxLayoutAlign="center center">
          <mat-checkbox class="remember-me">Lembre-me

          </mat-checkbox>
        </div>


    </form>


    <div class="other-sign">
        Outras Formas de Login
    </div>

    <button class="mat-raised-button capsule-button google-button m-b-10" (click)="signInWithGoogle()">
      <span class="capsule-button-wrapper">
        <div class="capsule-button-icon">
          <img src="assets/icon/google-plus.svg">
        </div>
        <span class="capsule-button-text">Google</span>
      </span>
    </button>

    <button class="mat-raised-button capsule-button github-button m-b-10" (click)="signInWithGithub()">
      <span class="capsule-button-wrapper">
        <div class="capsule-button-icon">
          <img src="assets/icon/github-logo.svg">
        </div>
        <span class="capsule-button-text">Github</span>
      </span>
    </button>

    <button class="mat-raised-button capsule-button facebook-button m-b-15">
      <span class="capsule-button-wrapper">
        <div class="capsule-button-icon">
          <img src="assets/icon/facebook.svg">
        </div>
        <span class="capsule-button-text">Facebook</span>
      </span>
    </button>

    <a class="redirect" [routerLink]="['/sigup']">Ainda não tem registro? Registre-se aqui.</a>

  </div>
</div>
